/* This is stylesheet is only for styles in ALL screens */

@font-face{
    font-family: "Open Sans";
    src: url("../fonts/open_sans/statis/OpenSans/OpenSans-Regular.ttf");
}

html{
    display: flex;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    background: #A85EE2;
}

button{
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    background-color: #68A9EB;
    transition: 0.5s;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 0.6;
}

input[type="text"]{
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: white;
    color: rgb(0, 0, 0, 0.75);
    transition: 0.5s;
}

input[type="text"]:focus{
    outline: none;
}

*{
    font-family: "Open Sans", sans-serif;
    color: white;
}
