<head>
    <title>Eris - Connect Account</title>
    <link rel="shortcut icon" href="{{ url_for('static',filename='./assets/img/logo/svg/Logo-Background.svg') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename='./assets/css/index.css')}}">
    <link rel="stylesheet" href="{{ url_for('static',filename='./assets/css/connect.css')}}">
    <!-- Twitter icon import -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <h1>{{Invalid}}</h1>
    <main>
        <section  id="top">
            <h1>Verify Account</h1>
            <br><br>
            <span>
                Before we can get your results, we first need you to verify your account
            </span>
            <br>
        </section>
        <section id="middle">
        <br/>
        <form method="POST" action="/results"> <!--action="/results"-->
            <label for="username">Enter your Twitter User Name:</label>
            <input type="text" id="username" name="username"><br><br>
            <h1>Your Code is: {{connect}}</h1>
            <h3>Copy this code and Tweet it on your account to verify, then click the button below</h3>
            <button type="submit" id="connect" name="submit_button" src ="{{ url_for('static',filename='./assets/twitter.png')}}">Connect to Twitter</button>
        </form>
        </section>

    </main>
</body>